.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.07143;
  color: #2e2f42;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: inherit;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
  margin: 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts {
    margin-left: auto;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-link.current::after {
    content: "";

    width: 100%;
    height: 4px;

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .nav-link.current {
    position: relative;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  /* z-index: 999; */
  /* left: 0;
  right: 0; */
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
}

.close-icon-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover svg,
.mobile-menu-close:focus svg {
  fill: #fff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.social-links-mobile ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.social-mobile {
  fill: #f4f4fd;
}

.link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.contacts-link-mobile {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover,
.contacts-link-mobile:focus {
  color: #4d5ae5;
}

.link-mobile:hover,
.link-mobile:focus {
  background-color: #404bbf;
}

.mobile-nav-list {
  display: flex;

  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  padding: 0 auto;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}
/* main */

.main-section {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.solution {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  max-width: 216px;
}

.button-main,
.button-send {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  white-space: nowrap;
  margin: 48px auto 0px auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus,
.link:hover,
.link:focus,
.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
}
