.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.07143;
  color: #2e2f42;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: inherit;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
  margin: 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .page-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts {
    margin-left: auto;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-link.current::after {
    content: "";

    width: 100%;
    height: 4px;

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .nav-link.current {
    position: relative;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  /* z-index: 999; */
  /* left: 0;
  right: 0; */
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
}

.close-icon-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover svg,
.mobile-menu-close:focus svg {
  fill: #fff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.social-links-mobile ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.social-mobile {
  fill: #f4f4fd;
}

.link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.contacts-link-mobile {
  display: block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-mobile:hover,
.contacts-link-mobile:focus {
  color: #4d5ae5;
}

.link-mobile:hover,
.link-mobile:focus {
  background-color: #404bbf;
}

.mobile-nav-list {
  display: flex;

  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  padding: 0 auto;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}
/* main */

.main-section {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/peopleofficemob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  max-width: 320px;

  /*   margin: 0 auto 96px auto; */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.solution {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  max-width: 216px;
}

.button-main,
.button-send {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  white-space: nowrap;
  /*   margin: 48px auto 0px auto; */
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus,
.link:hover,
.link:focus,
.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
  .main-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/peopleofficemob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/peopleofficetab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .main-container {
    gap: 36px;
  }

  .solution {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/peopleofficetab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-officed.jpg);
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }

  .main-container {
    gap: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/peopleofficed@2x.jpg);
  }
}

/* features */
.features-section {
  padding: 96px 0;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.icon-item {
  display: none;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 288px;

  padding: 0;
}

.features-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
    min-width: 356px;
  }
  .features-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .features-info {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: none;
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }
  .features-item {
    display: flex;
    width: calc((100% - 3 * 24px) / 4);
    gap: 8px;
    min-width: 264px;
  }
  .icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .features-info,
  .features-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    height: 112px;
    width: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .features-section,
  .portfolio-section {
    margin: 0 auto;
  }
  .features-info {
    justify-content: center;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-content {
    font-weight: 400;
  }
}

/* team */
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  gap: 72px;
}
.team-card-content {
  padding: 32px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-members {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0;
}

.member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding: 0;
}

.social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social {
  fill: #f4f4fd;
}

.link-footer,
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-foto {
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-item {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    padding: 0;
  }
}

/* portfolio */

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 96px;
  padding-bottom: 96px;
  width: 100%;
}

.box {
  position: relative;
  width: 288px;
  height: 280px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 0 auto;
}

.portfolio-overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.text-overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  padding: 40px 32px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;

  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.portfolio-border {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  gap: 8px;
}

.portfolio-item img {
  min-width: 288px;
  min-height: 280px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

img {
  display: block;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {

  
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }


  .portfolio-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0 auto;
  }
  .
}

@media screen and (min-width: 1158px) {
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

 
  .portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .box,
  .portfolio-item img {
     min-width: 356px;
  min-height: 300px;
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
}

/* footer */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 72px;
}

.footer-info {
  display: flex;

  flex-direction: column;
  gap: 16px;
}

.footer-logo,
.logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  text-align: left;
}

.links-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.link-item-footer {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  fill: #f4f4fd;
}

.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}

.mail-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mail-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.input-subscribe::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 100%;
}

.input-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  outline: none;
}

.input-subscribe:hover,
.input-subscribe:focus {
  border: 1px solid #31d0aa;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.icon-send {
  fill: #fff;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  color: #fff;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .subscribe-footer {
  display: flex;
  justify-content: center;
} */

.form-button:hover,
.form-button:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-text {
    width: 264px;
  }
  .page-footer {
    padding: 96px 0;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 72px 24px;
  }
  .footer-info,
  .link-item-footer,
  .mail-form {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-logo {
    justify-content: flex-start;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;

    /* align-items: center; */
    /* justify-content: center; */
    gap: 24px;
  }
  .input-subscribe {
    max-width: 264px;
  }
  .mail-form {
    gap: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0 132px 0;
  }
  .footer-container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .footer-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    margin-right: 120px;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin: 96px auto 72px auto; */
    margin-right: 120px;
  }
  .footer-logo,
  .logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .mail-form {
    gap: 16px;
    margin-left: auto;
  }
  .link-item-footer {
    margin-right: 90px;
  }
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon:hover,
.form-icon:focus {
  fill: #4d5ae5;
}

.icon-wrapper {
  position: relative;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-field {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 8px;
}

.label-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  background-color: transparent;
}

.input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.icon-wrapper:hover .input-field,
.icon-wrapper:focus-within .input-field,
.label-field textarea:hover,
.label-field textarea:focus {
  border-color: #4d5ae5;
}

.icon-wrapper:hover .form-icon,
.icon-wrapper:focus-within .form-icon {
  fill: #4d5ae5;
}

.label-field textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 120px;
  resize: none;
  width: 100%;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
}

.privacy-label {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.checkbox-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  /* padding-left: 8px; */
  margin: 0;
  padding: 0;
}

.checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.accept-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  padding-right: 0;
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(46, 47, 66, 0.4);
}

.check-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .accept-image {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

input[type="checkbox"]:checked + .accept-image .check-icon {
  opacity: 1;
}

.button-send {
  margin: 16px auto;
  padding: 0;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.1);
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover svg,
.close-button:focus svg {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
